.footer{
    width: 100%;
    height: 300px;
    background-color: rgb(17,25,33);
    margin-top: 70px;
    color: aliceblue;
}

.txt{
    font-size: 50px;
}

.txt2{
    text-align: right;
    margin-right: 20px;
    margin-top: 50px;
}


@media (min-width: 220px) and (max-width: 950px){
    .footer{
        width: 100%;
        height: 290px;
        background-color: rgb(17,25,33);
        margin-top: 70px;
        color: aliceblue;
    }
    
    .txt{
        font-size: 30px;
    }
    
    .txt2{
        text-align: right;
        margin-right: 12px;
        margin-top: 50px;
        font-size: 18px;
    }

    .btn{
        height: 40px;
        width: 140px;
        font-size: 25px;
        color: white;
        background-color: black;
    }

}