.card{
    width: 380px;
    height: 450px;
    background-color:rgb(6, 6, 58);
    margin-left: 20px;
    color: aliceblue;
    border-radius: 5px;
}

.txt{
    font-size: 33px;
    text-align: center;
}

.txt1{
    font-size: 25px;
    text-align: center;
}

.txt2{
    font-size: 25px;
    text-align: center;
}

.img{
    text-align: center;
}