

.card{
    width: 390px;
    height: 160px;
    background-color: cornflowerblue;
    margin-left: 20px;
    margin-top: 25px;
}

.txt{
    text-align: center;
    font-size: 27px;
}



/************************************ MEDIA QUERT CONYENT ***********************************/

@media (min-width: 220px) and (max-width: 950px){
    .card{
        width: 390px;
        height: 160px;
        background-color: cornflowerblue;
        margin-left: 20px;
        margin-top: 25px;
    }
    
    .txt{
        text-align: center;
        font-size: 27px;
    }


}

